.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4%;
    border: solid 2px violet;
    margin: 3%;
    padding: 1%;
}

@media screen and (min-width: 1280px) {
    div:nth-child(9) {
        width: 30%;
    }

    div:nth-child(10) {
        width: 30%;
    }
}